In [233]:
import pandasdmx as sdmx
import pandas as pd
from dash import dcc
import dash_html_components as html
import plotly.graph_objects as go

ModuleNotFoundError: No module named 'dash'

In [19]:
ind_code = "HT_ADOL_UNMETMED_NOUNMET"

unicef = sdmx.Request("UNICEF")

metadata = unicef.dataflow("TRANSMONEE", provider="ECARO", version="1.0")

In [20]:
metadata

<pandasdmx.StructureMessage>
  <Header>
    id: 'IREF330476'
    prepared: '2022-02-09T18:57:22+00:00'
    receiver: <Agency not_supplied>
    sender: <Agency UNICEF>
    source:
    test: False
  response: <Response [200]>
  Codelist (48): CL_INDICATORS_TRANSMONEE CL_CONF_STATUS CL_DECIMALS CL...
  ConceptScheme (3): CROSS_DOMAIN_CONCEPTS CS_SDG UNICEF_CONCEPTS
  DataflowDefinition (1): TRANSMONEE
  DataStructureDefinition (1): DSD_ECARO_TRANSMONEE
  AgencyScheme (2): AGENCIES DATA_PROVIDERS
  ProvisionAgreement (1): TRANSMONEE_ECARO_ECARO

In [21]:
metadata.response.url

'https://sdmx.data.unicef.org/ws/public/sdmxapi/rest/dataflow/ECARO/TRANSMONEE/1.0?references=all'

In [25]:
dataflows = sdmx.to_pandas(metadata.dataflow)
dataflows

TRANSMONEE    ECARO for TransMonEE
dtype: object

In [38]:
dsd = metadata.structure['DSD_ECARO_TRANSMONEE']

In [39]:
dsd.dimensions.components

[<Dimension REF_AREA>,
 <Dimension INDICATOR>,
 <Dimension SEX>,
 <Dimension AGE>,
 <Dimension RESIDENCE>,
 <Dimension WEALTH_QUINTILE>,
 <TimeDimension TIME_PERIOD>]

In [40]:
dsd.attributes.components

[<DataAttribute COVERAGE_TIME>,
 <DataAttribute UNIT_MEASURE>,
 <DataAttribute OBS_FOOTNOTE>,
 <DataAttribute FREQ>,
 <DataAttribute DATA_SOURCE>,
 <DataAttribute UNIT_MULTIPLIER>,
 <DataAttribute OBS_STATUS>]

In [41]:
dsd.measures.components

In [225]:
message = unicef.data("TRANSMONEE", provider="ECARO", key=dict(INDICATOR=[ind_code], SEX=['M', 'F']), params = dict(startPeriod='2010', endPeriod='2011'), dsd=dsd)

/opt/homebrew/Caskroom/miniforge/base/envs/azure/lib/python3.9/site-packages/pandasdmx/api.py:260: UserWarning: 'provider' argument is redundant for <Resource.data: 'data'>
  warn(f"'provider' argument is redundant for {resource_type!r}")

In [226]:
message.response.url

'https://sdmx.data.unicef.org/ws/public/sdmxapi/rest/data/TRANSMONEE/.HT_ADOL_UNMETMED_NOUNMET.F+M...?startPeriod=2010&endPeriod=2011'

In [227]:
df = message.to_pandas(attributes="o", rtype="compat")

In [228]:
df

REF_AREA                             AUT                                  \
INDICATOR       HT_ADOL_UNMETMED_NOUNMET
SEX                                    F
AGE                               Y16T19
RESIDENCE                             _T
WEALTH_QUINTILE                       Q1    Q2    Q3     Q4     Q5    _T
TIME_PERIOD
2010-01-01                         100.0  95.7  96.9   96.9  100.0  97.6
2011-01-01                         100.0  92.2  99.5  100.0  100.0  98.1

REF_AREA                                   ...                      TUR  \
INDICATOR                                  ... HT_ADOL_UNMETMED_NOUNMET
SEX                                        ...                        M
AGE             Y16T24                     ...                   Y_GE65
RESIDENCE           _T                     ...                       _T
WEALTH_QUINTILE     Q1    Q2    Q3     Q4  ...                       _T
TIME_PERIOD                                ...
2010-01-01        96.9  97.6  98.2   97.7  ...                     78.7
2011-01-01        98.5  95.2  98.3  100.0  ...                     82.0

REF_AREA
INDICATOR
SEX
AGE             Y_GE75                               Y_GE85
RESIDENCE           _T                                   _T
WEALTH_QUINTILE     Q1    Q2    Q3    Q4    Q5    _T     Q1    Q3    _T
TIME_PERIOD
2010-01-01        62.4  76.9  80.7  80.6  86.9  77.9    NaN   NaN  66.1
2011-01-01        55.7  75.3  84.3  90.2  96.7  81.2   45.9  65.0  70.9

[2 rows x 7671 columns]

In [229]:
df.columns.names

FrozenList(['REF_AREA', 'INDICATOR', 'SEX', 'AGE', 'RESIDENCE', 'WEALTH_QUINTILE'])

In [230]:
df.index

DatetimeIndex(['2010-01-01', '2011-01-01'], dtype='datetime64[ns]', name='TIME_PERIOD', freq=None)

In [231]:
df.columns.levels

FrozenList([['AUT', 'BEL', 'BGR', 'CHE', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'GBR', 'GRC', 'HRV', 'HUN', 'IRL', 'ISL', 'ITA', 'LTU', 'LUX', 'LVA', 'MKD', 'MLT', 'NLD', 'NOR', 'POL', 'PRT', 'ROU', 'SVK', 'SVN', 'SWE', 'TUR'], ['HT_ADOL_UNMETMED_NOUNMET'], ['F', 'M'], ['Y16T19', 'Y16T24', 'Y16T29', 'Y16T44', 'Y16T64', 'Y18T44', 'Y20T24', 'Y20T29', 'Y25T29', 'Y25T34', 'Y35T44', 'Y45T54', 'Y45T64', 'Y55T64', 'Y65T74', 'Y75T84', 'Y_GE16', 'Y_GE65', 'Y_GE75', 'Y_GE85'], ['_T'], ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', '_T']])

In [ ]:
# Import required libraries